{{- if .Values.config.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.config.name }}
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  APP_ENV: "{{ .Values.config.data.APP_ENV }}"
{{- end }}
